<nav class="navbar navbar-default navbar-fixed-bottom" id="ft">
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
       <li><a href="/contact" class="navblock tipsy-s" title="Ask questions or give us feedback on the website">Feedback</a></li>
       <li><a href="/abouts/info" class="navblock tipsy-s" title="Find out more about this website">About Us</a></li>
       <li><a href="/abouts/privacy" class="navblock tipsy-s" title="Read our privacy policy">Privacy Policy</a></li>
       <li><a href="/abouts/terms" class="navblock tipsy-s" title="Read our terms of use">Terms of Use</a></li>
       <li><a href="http://blog.mtbcalendar.com/" title="Catch up with the site development on our blog" class="navblock tipsy-s">Blog</a></li>
       </li>
     </ul>
  </div>
</nav>
