<!-- Google map -->
<div id="full_map_div_id" style="width:335px;height:200px" ></div>
<script>
  function initMap() {
    var uluru = {lat: {{.e.Lat}}, lng: {{.e.Lng}}};
    var map = new google.maps.Map(document.getElementById('full_map_div_id'), {
      zoom: 6,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>
<!-- TODO replace GMap API key -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTclOMBCqUjD5BEW6v3klxKOvWooHd1TY&callback=initMap">
</script>
<!-- End google map  -->
