<!-- Header -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img alt="MTBcalendar" src="/assets/images/cog.png" width="32" height="32">
      </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">MTBcalendar</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/events">Events</a></li>
        <li><a href="#">Search</a></li>
        {{#if loggedin}}
        <li><a href="/events/new">Add Event</a></li>
        {{/if}}
        {{#if loggedin}}
        <li><a href="/logout">Logout</a></li>
        {{else}}
        <li><a href="/login">Login</a></li>
        {{/if}}
        {{#if loggedin}}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/users">Users</a></li>
            <li><a href="#">Action</a></li>
          </ul>
        </li>
        {{/if}}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- <div id="hd">
    <div class="yui-gd">
        <div id="hello">
            <a href="/racers">Guten tag  !</a> &nbsp; |
            <a href="/racers">MyMTBCalendar</a> |
            <a href="/settings">Settings</a> |
            <a href="/admin">Admin</a> |
            <a href="/nuggets">Nuggets</a> |
            <a href="/logout">Log Out</a>
        </div>
    </div>
    <div class="yui-gd" id="banner">
        <div class="yui-u first">
            &nbsp;
        </div>
        <div class="yui-u search">
            <form action="http://www.mtbcalendar.com/search" id="cse-search-box">
                <div>
                    <input type="hidden" name="cx" value="partner-pub-6283162433458130:2ql29hg9qdy" />
                    <input type="hidden" name="cof" value="FORID:10" />
                    <input type="hidden" name="ie" value="ISO-8859-1" />
                    <input type="text" name="q" size="20" />
                    <input type="image" name="sa" value="Search" src="/images/google-search.png" title="Search this site with Google" class="tipsy-e" />
                </div>
            </form>
            <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>
        </div>
    </div>
    <div class="yui-gd bar">
        <a href="/" class="navblock" style="float:left">Home</a>
        <a href="/events-new" class="navblock tipsy-n" title="Add a new MTB racing event to the calendar">Add Event</a>
        <a href="/tags" class="navblock tipsy-n" title="View upcoming racing events by user submitted tags">View Tags</a>
        <a href="/state" class="navblock tipsy-n" title="Find racing events by state, province or country">Events by Area</a>
    </div>
</div> -->
<!-- end header -->
