<!-- HTML Header -->
  <meta charset="utf-8" />
  <title>{{ page.Title }}</title>
  <meta name="description" content="{{ page.Description }}">
  <meta name="keywords" content="{{ page.Keywords }}">
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
  <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="/assets/application.css" type="text/css" media="all" />
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/events.rss" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- End HTML Header -->
