<option value="1">Cross Country</option>
<option value="1">Dual Slalom</option>
<option value="7">Marathon</option>
<option value="11">Time Trial</option>
<option value="13">Singlespeed</option>
<option value="23">Other</option>
<option value="21">Trials</option>
<option value="8">Short Track</option>
<option value="9">Eight Hour</option>
<option value="12">MTB Stage</option>
<option value="14">Six Hour</option>
<option value="17">Slopestyle</option>
<option value="20">Giant Slalom</option>
<option value="0">Fat Tire</option>
<option value="2">Downhill</option>
<option value="6">Cyclocross</option>
<option value="18">Duathlon</option>
<option value="22">Hill Climb</option>
<option value="24">MTB Triathlon</option>
<option value="3">Super D</option>
<option value="4">MountainCross / 4X</option>
<option value="10">Twentyfour Hour</option>
<option value="15">Twelve Hour</option>
<option value="16">Enduro</option>
