<div class="row">
  <h3> Races </h3>
  <ul class="nav nav-tabs nav-pills">
    {{#each races as |r|}}
      <li role="presentation" {{#if @first}}class="active"{{/if}}>
        <a href="#{{r.ID}}" aria-controls="profile" role="tab" data-toggle="tab">
          {{raceName r.FormatID}}</a>
      </li>
    {{/each}}
  </ul>
  <div class="tab-content">
    {{#each races as |r|}}
      <div role="tabpanel" class="tab-pane {{#if @first}}active{{/if}}" id="{{r.ID}}">
        <p><i class="fa fa-money fa-lg" aria-hidden="true"></i> {{r.Cost}}</p>
        <p><i class="fa fa-drivers-license fa-lg" aria-hidden="true"></i> {{r.License}}</p>
        <p><i class="fa fa-globe fa-lg" aria-hidden="true"></i><a href="{{r.URL}}"> {{r.URL}}</a></p>
        <p>{{markdown r.Description}}</p>
      </div>
    {{/each}}
  </div>
</div>
