<div id="races">
  {{#each races as |r|}}
  <div class="raceDetailForm">
    <h3>Race {{@index}} Detail</h3>
    <div class="form-group">
     <label for="Race.{{ @index }}.FormatID" class="col-sm-2 control-label">Format</label>
     <div class="col-sm-10">
      <select class="form-control" name="Race.{{ @index }}.FormatID" id="Race.{{ @index }}.FormatID" />
        {{#each f}}
          <option value="{{@key}}" {{#eq r.FormatID @key}}selected{{/eq}}>{{@value}}</option>
        {{/each}}
      </select>
     </div>
    </div>


    <div class="form-group">
     <label for="Race.{{ @index }}.License" class="col-sm-2 control-label">License</label>
     <div class="col-sm-10">
       <input type="text" class="form-control" name="Race.{{ @index }}.License" id="Race.{{ @index }}.License" value="{{ r.License }}" />
     </div>
    </div>

    <div class="form-group">
     <label for="Race.{{ @index }}.Description" class="col-sm-2 control-label">Description</label>
     <div class="col-sm-10">
       <textarea class="form-control" rows="3" name="Race.{{ @index }}.Description" id="Race.{{ @index }}.Description">{{ r.Description }}</textarea>
     </div>
    </div>

    <div class="form-group">
     <label for="Race.{{ @index }}.Cost" class="col-sm-2 control-label">Cost</label>
     <div class="col-sm-10">
       <input type="text" class="form-control" name="Race.{{ @index }}.Cost" id="Race.{{ @index }}.Cost" value="{{ r.Cost }}" />
     </div>
    </div>

    <div class="form-group">
     <label for="Race.{{ @index }}.URL" class="col-sm-2 control-label">URL</label>
     <div class="col-sm-10">
       <input type="url" class="form-control" name="Race.{{ @index }}.URL" id="Race.{{ @index }}.URL" value="{{ r.URL }}" />
     </div>
    </div>
  </div>
  <input type="hidden" name="Race.{{ @index }}.ID" value="{{r.ID}}">
  <input type="hidden" name="Race.{{ @index }}.EventID" value="{{r.EventID}}">

  {{/each}}
</div>

<div class="form-group">
<div class="col-sm-2">
</div>
<div class="col-sm-10">
  <a class="btn btn-info btn-sm" role="button"  rel="nofollow" id="add_race_button">
    Add Another Race To This Event
  </a>
  <a class="btn btn-warning btn-sm" role="button"  rel="nofollow" id="remove_race_button">
    Remove This Race From Event
  </a>
</div>
</div>
