<div class="row">
  <h3> Races </h3>
  <ul class="nav nav-tabs nav-pills">
    {{#each races as |r|}}
      <li role="presentation">
        <a href="#{{r.ID}}" aria-controls="profile" role="tab" data-toggle="tab">
          {{r.FormatID}}</a>
      </li>
    {{/each}}
  </ul>
  <div class="tab-content">
    {{#each races as |r|}}
      <div role="tabpanel" class="tab-pane" id="{{r.ID}}">
        <p>Cost: {{r.Cost}}</p>
        <p>License: {{r.License}}</p>
        <p>URL: <a href="{{r.URL}}">{{r.URL}}</a></p>
        <p>{{markdown r.Description}}</p>
      </div>
    {{/each}}
  </div>
</div>
