<div class="container">
	<div class="container text-center">
    <h2 class="form-signin-heading">Sign in</h2>
  	<small class="text-muted">Connect MTBCal with your favorite social network</small>
  	<br><br>
    <p>
      <a class="btn btn-primary social-login-btn social-facebook" href="/auth/facebook"><i class="fa fa-facebook"></i></a>
      <a class="btn btn-primary social-login-btn social-twitter" href="/auth/twitter"><i class="fa fa-twitter"></i></a>
    </p>
    <p>
      <a class="btn btn-primary social-login-btn social-github" href="/auth/github"><i class="fa fa-github"></i></a>
      <a class="btn btn-primary social-login-btn social-instagram" href="/auth/instagram"><i class="fa fa-instagram"></i></a>
    </p>
  </div>
</div>
