<div>
  <label for="Login">Login:</label>
  <input type="text" name="Login" id="Login" value="{{ user.Login }}" />
</div>
<div>
  <label for="Hometown">Hometown:</label>
  <input type="text" name="Hometown" id="Hometown" value="{{ user.Hometown }}" />
</div>
<div>
  <label for="Email">Email:</label>
  <input type="email" name="Email" id="Email" value="{{ user.Email }}" />
</div>
<div>
  <label for="Twitter">Twitter:</label>
  <input type="text" name="Twitter" id="Twitter" value="{{ user.Twitter }}" />
</div>
<div>
  <input type="submit" value="Save" />
</div>
