<h1>
  <a href="/"> <i class="fa fa-home" aria-hidden="true"></i></a>
  <a href="/users"><i class="fa fa-user" aria-hidden="true"></i></a>
  {{user.Login}}
</h1>

<p><i class="fa fa-id-badge fa-lg" aria-hidden="true"></i> {{user.ID}}</p>
<p><i class="fa fa-envelope fa-lg" aria-hidden="true"></i> {{user.Email}}</p>
<p><i class="fa fa-globe fa-lg" aria-hidden="true"></i> {{user.Hometown}}</p>
<p><i class="fa fa-twitter fa-lg" aria-hidden="true"></i> <a href="http://twitter.com/{{user.Twitter}}">@{{user.Twitter}}</a></p>
<p><i class="fa fa-facebook fa-lg" aria-hidden="true"></i> {{user.Facebook}}</p>
