<div class="row">
  <h1 class="event_name">
    <a href="/events/{{e.ID}}/edit">{{e.Name}} ({{formatDate e.StartDate "year"}})</a>
  </h1>
</div>
<div class="row">
  <div class="col-md-4">
    <p><i class="fa fa-calendar fa-lg" aria-hidden="true"></i> {{formatDate e.StartDate "common"}} – {{formatDate e.EndDate "common"}}</p>
    <p><i class="fa fa-home fa-lg" aria-hidden="true"></i> {{e.Location}}
      [<a href="http://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;ttype=&amp;q=Les%20Gets%2C%20France" target="_blank">large map</a>]
    </p>
    <p><i class="fa fa-globe fa-lg" aria-hidden="true"></i> <a href="{{e.URL}}" class="url" target="_blank">{{e.URL}}</a></p>
    <p><i class="fa fa-tags fa-lg" aria-hidden="true"></i></p>
    <p><i class="fa fa-trophy fa-lg" aria-hidden="true"></i></p>
    <p><i class="fa fa-calendar-plus-o fa-lg" aria-hidden="true"></i> Add to external calendar</p>
  </div>
  <div class="col-md-8">
    {{ partial "partials/gmap.html" }}
  </div>
</div>
<div class="row">
  {{markdown e.Description}}
</div>
<div class="row">
  <small>This event entered by {{e.UserID}} on {{formatDate e.CreatedAt "common"}}</small>
</div>

<!-- TODO add each for races -->
<!-- <a href="#" onclick="jQuery.ajax({data:'', dataType:'script', type:'post', url:'/events/attend?racer%5Bevent_id%5D=3792&amp;racer%5Bstatus%5D=1&amp;racer%5Buser_id%5D=1'}); return false;"><i class="fa fa-calendar-plus-o fa-lg" aria-hidden="true"></i> Add to MyMTBcalendar</a> -->
<!-- template "export-calendar" .
template "dupe".  -->
